.row-history-field-select-option__diff {
  display: inline-block;
  background: transparent;
  padding: 2px;
  border: 2px solid $palette-green-100;
  margin-right: 4px;
  margin-bottom: 10px;
  border-radius: 80px;
}

.row-history-field-select-option__diff--removed {
  border-color: $palette-red-100;
  text-decoration: line-through;
}

.row-history-field-select-option__diff--added {
  border-color: $palette-green-100;
}

.row-history-field-select-option__diff-inner {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 80px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
